// Place all the styles related to the Artists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {margin: 20px;
            text-align: center;
            background-color: rgb(137, 219, 217)}

.pictures img {margin: 20px;
           width: 380px;
           height: 250px;}


h1 { font-size: 30px;}

.deleten {font-size: 10px;}
